---
import { readAll } from "../../../lib/markdoc/read";
import { blog } from "../../../lib/markdoc/frontmatter.schema";
import PageLayout from "../../../layouts/PageLayout.astro";
import PageMeta from "../../../components/PageMeta.astro";
import { SITE_TITLE } from "../../../config";

export async function getStaticPaths() {
  const posts = await readAll({
    directory: "blog",
    frontmatterSchema: blog,
  });

  const allTags = new Set();
  posts.forEach((post) => {
    // Adicionei uma verificação mais robusta aqui
    if (post.frontmatter.tags && Array.isArray(post.frontmatter.tags)) {
      post.frontmatter.tags.forEach((tag) => {
        allTags.add(tag.trim().toLowerCase());
      });
    }
  });

  return Array.from(allTags).map((tag) => {
    return {
      params: { tag: tag },
      props: { 
        tag: tag,
        posts: posts.filter((post) => 
          post.frontmatter.tags?.map(t => t.trim().toLowerCase()).includes(tag)
        ) 
      },
    };
  });
}

const { tag, posts } = Astro.props;
const title = tag.charAt(0).toUpperCase() + tag.slice(1);

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`${title} | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 class="text-3xl font-bold mb-8">Categoria: {title}</h1>
    <ul class="unset">
      {
        sortedPosts.length > 0 ? (
          sortedPosts.map((post) => {
            const formattedDate = new Date(
              post.frontmatter.date
            ).toLocaleDateString("pt-BR", {
              year: "numeric",
              month: "short",
              day: "numeric",
            });
            return (
              <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start border-b border-gray-200 pb-2">
                <div class="title">
                  <a href={`/blog/${post.slug}`} class="unset hover:text-text-link font-medium">
                    {post.frontmatter.title}
                  </a>
                </div>
                <div class="text-text-muted text-sm italic">
                  <time datetime={post.frontmatter.date.toISOString()}>
                    {formattedDate}
                  </time>
                </div>
              </li>
            );
          })
        ) : (
          <p>Nenhum artigo encontrado nesta categoria.</p>
        )
      }
    </ul>
  </section>
</PageLayout>
